<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">New Campground</h1>
    <!-- 6 units but we want it in the middle, so offset by 3 -->
    <div class="col-md-6 offset-md-3">
        <!-- novalidate prevents the browser from validating that required sections are filled out so that Bootstrap can take over using .validated-form -->
        <form action="/campgrounds" method="post" novalidate class="validated-form" enctype="multipart/form-data">
            <!-- Campground TITLE -->
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <!-- Campground LOCATION -->
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type=" text" id="location" name="campground[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <!-- Campground PRICE -->
            <div class="mb-3">
                <label for="price" class="form-label">Campground Price</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="price">$</span>
                    </div>
                    <input type="text" class="form-control" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="campground[price]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <!-- Campground DESCRIPTION -->
            <div class=" mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type=" text" id="description" name="campground[description]"
                    required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <!-- Campground IMAGES -->
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label for="image" class="form-file-label">
                        <span class="form-file-text custom-file-label">Choose images...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>
            <!-- Submit Button -->
            <div class="mb-3">
                <button class="btn btn-success">Add Campground</button>
            </div>
        </form>

        <a href="/campgrounds">All Campgrounds</a>
    </div>
</div>